<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plas_tech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/x"
        android:supportsRtl="true"
        android:theme="@style/Theme.PLASTECH">
        <activity
            android:name=".Sourav"
            android:exported="true" />
        <activity
            android:name=".Akash"
            android:exported="true" />
        <activity
            android:name=".Harsha"
            android:exported="true" />
        <activity
            android:name=".Conclusion"
            android:exported="true" />
        <activity
            android:name=".Sashank"
            android:exported="true" />
        <activity
            android:name=".customer2"
            android:exported="true" />
        <activity
            android:name=".User"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="true" />
        <activity
            android:name=".userLogin"
            android:exported="true" />
        <activity
            android:name=".userSignup"
            android:exported="true" />
        <activity
            android:name=".AdminUser"
            android:exported="true" />
        <activity
            android:name=".AdminInterface"
            android:exported="true" />
        <activity
            android:name=".customer"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>